*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ===== دارك مود ===== */
body{
  --bg:#080710;
  --text:#ffffff;
  --form-bg:rgba(255,255,255,0.13);
  --input-bg:rgba(255,255,255,0.07);
  --border:rgba(255,255,255,0.1);

  background:var(--bg);
  color:var(--text);
  font-family:'Cairo',sans-serif;
  height:100vh;
  overflow:hidden;
  transition:.4s;
}

/* ===== لايت مود ===== */
body.light{
  --bg:#f2f4f8;
  --text:#080710;
  --form-bg:#ffffff;
  --input-bg:#f0f0f0;
  --border:#dddddd;
}

/* ===== خلفية ===== */
.background{
  width:430px;
  height:520px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.shape{
  width:200px;
  height:200px;
  border-radius:50%;
  position:absolute;
}
.shape:first-child{
  background:linear-gradient(#1845ad,#23a2f6);
  left:-80px;
  top:-80px;
}
.shape:last-child{
  background:linear-gradient(to right,#ff512f,#f09819);
  right:-30px;
  bottom:-80px;
}

/* ===== الفورم ===== */
form{
  width:380px;
  padding:50px 35px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background:var(--form-bg);
  border-radius:10px;
  backdrop-filter:blur(10px);
  border:2px solid var(--border);
  box-shadow:0 0 40px rgba(0,0,0,.6);
}

form h1{
  text-align:center;
  font-family: 'Cairo',sans-serif;
  font-size:36px;
}

label{
  display:block;
  font-family: 'Cairo',sans-serif;
  font-weight: 600;
  margin-top:25px;
}

input{
  width:100%;
  height:45px;
  margin-top:8px;
  padding:0 10px;
  border-radius:5px;
  border:none;
  background:var(--input-bg);
  color:var(--text);
  font-family: 'cairo',sans-serif;
  font-weight: 500;
}

::placeholder{color:#999;}

button{
  margin-top:35px;
  width:100%;
  padding:15px;
  font-size:16px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:#f09819;
  color:#ffffff;
  font-family: 'Cairo',sans-serif;
  font-weight: 500;
}
button:active{
  transform:scale(0.98);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
BUTTON:hover{
  background:#23a2f6;
  color:#fff;
  font-family: 'Cairo',sans-serif;
  font-weight: 500;
}
body.light button:hover{
  background:#23a2f6;
  color:#ffffff;
  font-family: 'Cairo',sans-serif;
  font-weight: 500;
}
body.light button{
  background:#f09819;
  color:#ffffff;
  font-family: 'Cairo',sans-serif;
  font-weight: 500;
}

#error{
  margin-top:15px;
  text-align:center;
  font-size:14px;
  color:#ff4d4d;
  font-family: 'cairo',sans-serif;
  font-weight: 500;
}

/* ===== سويتش ===== */
.switch{
  position:fixed;
  top:20px;
  left:20px;
  width:60px;
  height:32px;
}
.switch input{display:none;}
.slider{
  position:absolute;
  inset:0;
  background:#73C0FC;
  border-radius:30px;
  cursor:pointer;
}
.slider:before{
  content:"";
  width:26px;
  height:26px;
  background:#fff;
  position:absolute;
  left:3px;
  bottom:3px;
  border-radius:50%;
  transition:.3s;
}
input:checked + .slider{
  background:#183153;
}
input:checked + .slider:before{
  transform:translateX(28px);
}

/* ===== فوتر ===== */
footer{
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
  font-size:13px;
  font-family:'Cairo',sans-serif;
  font-weight:500;
}

/* ===== Responsive ===== */
@media(max-width:480px){
  form{
    width:90%;
    padding:35px 25px;
  }
  form h1{font-size:30px;}
}


